body {
  background-color: black;
  background-image: url("Backgrounds/lerone-pieters-j57b5V7_RJw-unsplash.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;


  color: rgb(233, 178, 224);
  font-family: "Fira Sans", sans-serif;
}

h1{
  font-weight: bold;
  font-size: 80px;

  /*border*/
  border-style: solid;
  border-width: 5px;
  border-radius: 15px;
  padding: 5px;
}

p{
  font-size: 20px;
}