body {
  background-color: black;
  background-image: url("Backgrounds/lerone-pieters-j57b5V7_RJw-unsplash.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  color: rgba(240, 248, 255, 0.548);
  font-family: "Fira Sans", sans-serif;

  /*Center everything*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

.container {
  /*border*/
  width: 400px;
  border-style: solid;
  border-width: 10px;
  border-radius: 15px;
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0.904);

  padding: 5px;
  margin: auto;
  margin-bottom: 15px;
}

.title{
  font-weight: bold;
  font-size: 50px;
  width: 350px;
  margin: auto;
}

p{
  font-size: 20px;
}

.search-form{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;

  max-width: 90%;

  padding: 14px;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.801);
}

.search-box{
  color: aliceblue;
  font-size: 16px;
  margin-left: 5px;
  margin-right: 8px;
  outline: none;
  border: none;
  background: transparent;
  width: 700px;
}

.search-icon{
  color: aliceblue;
}