body {
  background-color: black;
  color: rgb(233, 178, 224);
  font-family: "Fira Sans", sans-serif;
}

h1{
  font-weight: bold;
  font-size: 80px;

  /*border*/
  border-style: solid;
  border-width: 5px;
  border-radius: 15px;
  padding: 5px;
}

p{
  font-size: 20px;
}